{% extends 'base.twig' %}
{% set title = 'New Post' %}

{% block main %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-11 col-xl-10">
        <div class="page-header d-flex justify-content-between align-items-center">
          <h1><a href="/nano">nano &#x2615;</a></h1>
          <div>
            <a class="btn btn-light" href="/" target="_blank">View Site</a>
            <a class="btn btn-dark" href="/logout">Logout</a>
          </div>
        </div>
        <hr>
        
        <div class="tab-pane fade show active" id="projects">
          <div class="content-list">
            <div class="row content-list-head">
              <div class="col-auto">
                <h3>New Post</h3>
              </div>
            </div>
            
            <div class="card">
              <div class="card-body">
                <form method="post">
  
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">title</i>
                        </span>
                      </div>
                      <input type="text" name="title" class="form-control" placeholder="Post Title (Optional)" aria-label="Post Title" >
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" name="timestamp" value="{{ timestamp }}" class="form-control" aria-label="Post Title" data-flatpickr data-date-format="Y-m-d H:i">
                    </div>
                  </div>

                    <div class="form-group">
                        <div id="bodyTextarea">{{ post.body.markdown }}</div>
                        <input id="formText" name="body" type="hidden">
                    </div>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group mb-0">
                      <div class="custom-control custom-checkbox custom-checkbox-switch">
                        <input type="checkbox" name="published" class="custom-control-input" id="is-published">
                        <label class="custom-control-label" for="is-published">Published</label>
                      </div>
                    </div>
                    
                    <div>
                    <a href="/nano" class="btn btn-light">Cancel</a>
                    <input type="submit" class="btn btn-dark" value="Create">
                    </div>
                  </div>
                  
                  <input type="hidden" name="type" value="post">
                </form>
                
              </div>
            </div>
            
          </div>
          <!--end of content list-->
        </div>
        <!--end of tab-->
      </div>
    </div>
  </div>
  
{% endblock %}
{% block head %}
  <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
    <script>
        let formText = document.getElementById("formText");

        var quill = new Quill('#bodyTextarea', {
            placeholder: 'Compose an epic...',
            theme: 'snow'  // or 'bubble'
        });

        quill.on('text-change',() => {
            formText.value = quill.container.firstChild.innerHTML;
        });
    </script>
{% endblock %}