/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/*#imageModal .modal-dialog{*/
/*    max-width:505px;*/
/*    width:926px;*/
/*}*/

img.adminImageThumbnail {
    max-width:100%;
}

.card {
    width:100%;
}

.card .card-meta {
    z-index:100;
}

.card.draft {
    background-color: #ffffeb;
}

.post-list .card-title {
    margin-bottom:0;
}